
<% include partials/header.ejs %>
    <div class="container">
        <% if (message) { %>
            <class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-envelope"></span><%= message %>
            </a>
            
        <% } %>
    </div>
    <div class="table-wrapper">
        <% if (users.rows.length > 0) {%>
            <table class="table table-striped">
                <thead class="bg-success">
                    <% for (var col = 0; col < users.metaData.length; col++) { %>
                        <th scope = "col"><%= users.metaData[col].name%></th>
                     <% } %>
                </thead>
                <tbody>
                    <% for (var row = 0; row < users.rows.length; row++) { %>
                        <tr>
                            <% for(var col = 0; col < users.rows[row].length; col++) { %>
                                <td><%=  users.rows[row][col] %></td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No users found. Go <a href="/add" >here</a> to add users.</p>
        <% } %>
    </div>
</div>


</body>
</html>